@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-white: #f8f8f8;
	--color-light: #d1d3d8;
	--color-neutral: #818384;
	--color-dark: #6d717c;
	--color-black: #121213;

	--color-red: #dc2626;
	--color-yellow: #d1b036;
	--color-green: #6aaa64;

	--tw-shadow-color: rgba(0, 0, 0, 0.1);
}

/* Light mode colors */
.has-white-background-color {
	background-color: #f8f8f8;
}

.has-white-border-color {
	border-color: #f8f8f8;
}

.has-white-color {
	color: #f8f8f8;
}

.has-white-fill {
	fill: #f8f8f8;
}

.has-light-background-color {
	background-color: #d1d3d8;
}

.has-light-border-color {
	border-color: #d1d3d8;
}

.has-light-color {
	color: #d1d3d8;
}

.has-light-fill {
	fill: #d1d3d8;
}

.has-neutral-background-color {
	background-color: #818384;
}

.has-neutral-border-color {
	border-color: #818384;
}

.has-neutral-color {
	color: #818384;
}

.has-neutral-fill {
	fill: #818384;
}

.has-dark-background-color {
	background-color: #6d717c;
}

.has-dark-border-color {
	border-color: #6d717c;
}

.has-dark-color {
	color: #6d717c;
}

.has-dark-fill {
	fill: #6d717c;
}

.has-black-background-color {
	background-color: #121213;
}

.has-black-border-color {
	border-color: #121213;
}

.has-black-color {
	color: #121213;
}

.has-black-fill {
	fill: #121213;
}

.has-red-background-color {
	background-color: #dc2626;
}

.has-red-border-color {
	border-color: #dc2626;
}

.has-red-color {
	color: #dc2626;
}

.has-red-fill {
	fill: #dc2626;
}

.has-yellow-background-color {
	background-color: #d1b036;
}

.has-yellow-border-color {
	border-color: #d1b036;
}

.has-yellow-color {
	color: #d1b036;
}

.has-yellow-fill {
	fill: #d1b036;
}

.has-green-background-color {
	background-color: #6aaa64;
}

.has-green-border-color {
	border-color: #6aaa64;
}

.has-green-color {
	color: #6aaa64;
}

.has-green-fill {
	fill: #6aaa64;
}

/* Dark mode colors */
.dark .has-white-background-color {
	background-color: #121213;
}

.dark .has-white-border-color {
	border-color: #121213;
}

.dark .has-white-color {
	color: #121213;
}

.dark .has-white-fill {
	fill: #121213;
}

.dark .has-light-background-color {
	background-color: #6d717c;
}

.dark .has-light-border-color {
	border-color: #6d717c;
}

.dark .has-light-color {
	color: #6d717c;
}

.dark .has-light-fill {
	fill: #6d717c;
}

.dark .has-dark-background-color {
	background-color: #d1d3d8;
}

.dark .has-dark-border-color {
	border-color: #d1d3d8;
}

.dark .has-dark-color {
	color: #d1d3d8;
}

.dark .has-dark-fill {
	fill: #d1d3d8;
}

.dark .has-black-background-color {
	background-color: #f8f8f8;
}

.dark .has-black-border-color {
	border-color: #f8f8f8;
}

.dark .has-black-color {
	color: #f8f8f8;
}

.dark .has-black-fill {
	fill: #f8f8f8;
}

/* React Native Web text styling */
[dir='auto'] {
	background-color: transparent;
}
