@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  --background: #ffffff;
  --text: #111827;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ff0000;
    --text: #ffffff;
  }
}

html {
  background-color: var(--background);
}

body {
  background-color: var(--background);
  color: var(--text);
}

.dark {
  color-scheme: dark;
}

.light {
  color-scheme: light;
}
